<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('layout') %>
    <div class="container">
        <% projects.forEach(function(project) { %>
            <img src="/images/<%= project.image %>" class="my-4 img-thumbnail">
            <p>
                <strong>ชื่อโปรเจค</strong>
                <%= project.name %>
            </p>

            <p>
                <strong>รายละเอียด</strong>
                <%= project.description %>
            </p>

            <p>
                <strong>วันสร้างโปรเจค</strong>
                <%= project.date %>
            </p>

            
        <%})%>
    </div>
</body>
</html>